.card:hover { 
    transform: scale(1.2, 1.2);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    opacity: 0.9;
}

.card {
    transform: scale(1.0, 1.0);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%
}

.member-icons {
    position: absolute;
    bottom: -50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

img { 
    width: 100%
}

.animate {
    transition: all 0.2s ease-in-out;
}