
<div class="m-5">
<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Register</h2>
    <hr>
        <div class="mb-3">
            <input 
                type="text"
                class="form-control"
                name="username"
                [(ngModel)]="model.username"
                placeholder="username"
            >
        </div>
        <div class="mb-3">
            <input 
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="model.password"
                placeholder="password"
            >
        </div>
        <div class="button-container">
            <button class="btn btn-success btn-sm me-2" type="submit">Submit</button>
            <button class="btn btn-sm btn-link me-2" type="button" (click)="cancel()">Cancel</button>
        </div>
        
</form>
</div>